<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yarokh.vladyslav.ktxtestapplication">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".encryption.EncryptionActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".encryption.EncryptionSecondActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".encryption.EncryptionThirdActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".views_interaction.ViewsActivity"
            android:screenOrientation="portrait">
            <!--                        <intent-filter>-->
            <!--                            <action android:name="android.intent.action.MAIN" />-->

            <!--                            <category android:name="android.intent.category.LAUNCHER" />-->
            <!--                        </intent-filter>-->
        </activity>

        <activity
            android:name=".account_manager.AccountManagerActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".deep_links.DeepLinkSelectedActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter
                android:autoVerify="true"
                tools:targetApi="23">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="vladyslav.yarokh.com"
                    android:scheme="http" />
                <data
                    android:host="vladyslav.yarokh.com"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <activity
            android:name=".deep_links.DeepLinkActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".deep_links.navigation_links.DeepLinkFragmentActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.NavComponent.NoActionBar">
            <nav-graph android:value="@navigation/nav_graph" />
        </activity>

        <activity
            android:name=".geofences.GeofenceActivity"
            android:screenOrientation="portrait" />

        <service android:name="com.yarokh.vladyslav.ktxtestapplication.account_manager.GenericAccountService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <receiver android:name=".geofences.GeofenceBroadcastReceiver" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC7LrAJA0QAmhc-VmYHtrkTiy_eWJ-Q8d0" />
    </application>
</manifest>